# Dependencias de Node
node_modules

# Archivos del sistema operativo
.DS_Store

# Archivos de configuración
.env

# Directorios de almacenamiento
storage

# Bruno (Opcional: ignorar solo los datos de sesión/tokens)
api_test/Backend Node Project/environments/*.bru