# Dependencias de Node
node_modules

# Archivos del sistema operativo
.DS_Store

# Archivos de configuración
.env

# Bruno (Opcional: ignorar solo los datos de sesión/tokens)
api_tests/Backend Node Project/environments/*.bru